table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.about-div {
  /* float:right;
  margin-right: 450px;
  font-size: 18px; */
  display: block;
  width: 400px;
  height: 160px;
  float: right;
  margin-right: 400px;
}
