table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

h2, p{
  display: inline;
}

.about-div {
  /* float:right;
  margin-right: 450px;
  font-size: 18px; */
  display: block;
  width: 400px;
  height: 160px;
  float: right;
  margin-right: 400px;
}

.graphBTN {
  padding: 8px 20px;
  margin-left: 85px;
  margin-bottom: 20px;
  margin-top: 15px;
  border-radius: 10px;
  font-size: 18px;
  outline: none;
  border: none;
  cursor: pointer;
}

.submitForm {
  margin-top: 20px;
  margin-left: 100px;
}